* {
    box-sizing: border-box;
    align-items: center;
}

body {
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lavender;
}

.titles {
    margin-top: -16vh;
    justify-content: flex-start;
}

h1 {
    color: rgb(51, 12, 88);
    letter-spacing: 0.2vmin;
    margin: 0;
    justify-items: center;
    text-transform: uppercase;
    font-size: 4vh;
}

h2 {
    margin: 0;
    font-size: small;
    letter-spacing: 0.3vmin;
    font-size: 1.5vh;
}

.container {
    gap: 30px;
    background: rgb(146, 139, 162);
    height: 900px;
    width: 900px;
}

.image-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
}

.flip-card {
    width: 100px;
    height: 100px;
    background-color: transparent;
    perspective: 1000px;
}

.flowers {
    display: flex;
    flex: content;
    flex-wrap: wrap;
    border-radius: 8vh;
    width: 100px;
    height: 100px;
    gap: 4vh;
}
  .flip-card-inner {
    width: 100px;
    height: 100px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    width: 100px;
    height: 100px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

.button {
    color: rgb(62, 23, 92);
    background-color: rgb(175, 205, 239);
    font-size: 3vmin;
    cursor: pointer;
    margin-top: -3vh;
    margin-bottom: -15vh;
}

.button:focus {
    color: rgb(241, 234, 247);
    background-color: blueviolet;
}