* {
    box-sizing: border-box;
    align-items: center;
}

body {
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lavender;
}

.titles {
    margin-top: -16vh;
    justify-content: flex-start;
}

h1 {
    color: rgb(51, 12, 88);
    letter-spacing: 0.2vmin;
    margin: 0;    
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-transform: uppercase;
    font-size: 4vh;
}

h2 {
    margin: 0;
    font-size: small;
    letter-spacing: 0.3vmin;
    font-size: 1.5vh;
}

.container {
    gap: 30px;
    background: rgb(146, 139, 162);
    height: 900px;
    width: 900px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

.flowers{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8vh;
    gap: 4vh;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.fback {
    background-color: transparent;
    width: 220px;
    height: 220px;
    perspective: 1000px;
    border-radius: 8vh;
    gap: 4vh; 
}

.fback:hover .flowers {
    transform: rotateY(180deg);
}

  .fback, .flowers {
    width: 220px;
    height: 220px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flowers {
    transform: rotateY(180deg);
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
  }

.button {
    color: rgb(62, 23, 92);
    background-color: rgb(175, 205, 239);
    font-size: 3vmin;
    cursor: pointer;
    margin-top: -3vh;
    margin-bottom: -15vh;
}

.button:focus {
    color: rgb(241, 234, 247);
    background-color: blueviolet;
}