* {
    box-sizing: border-box;
    align-items: center;
}

body {
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavender;
}

.titles {
    margin-top: -16vh;
    justify-content: flex-start;
}

h1 {
    color: rgb(51, 12, 88);
    letter-spacing: 0.2vmin;
    /* margin-top: -7vh; */
    margin: 0;    
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-transform: uppercase;
    /* margin-top: -10vh; */
}

h2 {
    /* margin-top: -8vmin; */
    margin: 0;
    font-size: small;
    letter-spacing: 0.3vmin;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: rgb(146, 139, 162);
    height: 900px;
    width: 900px;
}


.flores {
    width: 700px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    /* margin-top: -13vh; */
    margin-left: 6vh;
}

#purple {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#purple2 {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#red {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#red2 {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#white {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#white2 {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#yellow {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#yellow2 {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#blue {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#blue2 {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#orange {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#orange2 {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#pink {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#pink2 {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#thornes {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}

#thornes2 {
    width: 150px;
    height: 150px;
    border-radius: 8vh;
}


.btt {
   
}

button {
    color: rgb(62, 23, 92);
    background-color: rgb(175, 205, 239);
    font-size: 3vmin;
    cursor: pointer;
    margin-bottom: -15vh;
    justify-content: end;

}

button:focus {
    color: rgb(241, 234, 247);
    background-color: blueviolet;
}
